/* Main title */
h1#real-estate-price-prediction {text-align: center; font-family: Helvetica; font-weight:400;color: #2b6777; }
/* Subheader */
.st-emotion-cache-1onx6iv h2 {text-align: center; font-size: 22px; font-weight: 300;}
/* Paragraphs */
.st-emotion-cache-1onx6iv p, .st-emotion-cache-1k21p6p p {font-size:18px; padding-bottom:10px;} 
/* Box around the questions */
.stVerticalBlock .eiemyj5 { border: 1px solid #e7eff5; border-radius:15px;padding: 20px;}
.st-emotion-cache-0 .st-emotion-cache-0 .st-emotion-cache-0 { border: none;}
/* Button */
.stButton {text-align: center;}
.st-emotion-cache-1mcrqlm {color: #fff; border-color: #2b6777;background-color: #2b6777;}
.st-emotion-cache-1mcrqlm:hover { background-color: #fff; color: #2b6777;border: 1px solid #2b6777;}
.st-emotion-cache-1mcrqlm:active {color: #000;border-color: #000; background-color: #fff;}
/* Prediction box */
.stAlertContainer {background-color: #52ab98;}
.stAlertContainer { color: #fff;}
/* Remove +/- in number_input */
.st-emotion-cache-1k5fi8b {display:none;}
			