/* Main title */
h1#real-estate-price-prediction {text-align: center; font-family: "Segoe UI"; font-weight:500;color: #27334e; font-size:50px; }
/* Subheader */
.stHeading h2 { color: #27334e; font-size: 26px; font-weight: 500;}
/* Sidebar */
section .stSidebar { width: 400px;}
/* Paragraphs */
.st-emotion-cache-1onx6iv p, .st-emotion-cache-1k21p6p p {font-size:20px; padding-bottom:12px;} 
/* Box around the questions */
.stVerticalBlock .eiemyj5 { border: 1px solid #E2F0FE; border-radius:10px; padding: 30px;}
.st-emotion-cache-0 .st-emotion-cache-0 .st-emotion-cache-0 { border: none;padding:0;}
/* Button */
.stButton {text-align: center;}
/* .stButton button { width: 100%;} */
.stButton button {color: #fff; border-color: #DF4C73;background-color: #DF4C73;}
.stButton button:hover { background-color: #fff; color: #DF4C73;border: 1px solid #DF4C73;}
.stButton button:active {color: #27334e;border-color: #27334e; background-color: #fff;}
.stButton button:focus:not(:active) {color: #fff; border-color: #DF4C73;background-color: #DF4C73;}
/* Prediction box */
.stAlertContainer {background-color: #DF4C73;}
.stAlertContainer { color: #fff;}
/* Remove +/- in number_input */
.st-emotion-cache-1k5fi8b {display:none;}